.color-text-primary-1 {
  color: var(--primary-1);
}
.color-text-primary-2 {
  color: var(--primary-2);
}
.color-text-primary-3 {
  color: var(--primary-3);
}
.color-text-primary-4 {
  color: var(--primary-4);
}

.color-text-secondary-1 {
  color: var(--secondary-1);
}
.color-text-secondary-2 {
  color: var(--secondary-2);
}
.color-text-secondary-3 {
  color: var(--secondary-3);
}
.color-text-secondary-4 {
  color: var(--secondary-4);
}

.color-text-ternary-1 {
  color: var(--ternary-1);
}
.color-text-ternary-2 {
  color: var(--ternary-2);
}

.color-text-grey-1 {
  color: var(--grey-1);
}
.color-text-grey-2 {
  color: var(--grey-2);
}
.color-text-grey-3 {
  color: var(--grey-3);
}
.color-text-grey-4 {
  color: var(--grey-4);
}
.color-text-grey-5 {
  color: var(--grey-5);
}

.color-text-black {
  color: var(--black);
}
.color-text-white {
  color: var(--white);
}
