.color-primary-1 {
  background-color: var(--primary-1);
}
.color-primary-2 {
  background-color: var(--primary-2);
}
.color-primary-3 {
  background-color: var(--primary-3);
}
.color-primary-4 {
  background-color: var(--primary-4);
}

.color-secondary-1 {
  background-color: var(--secondary-1);
}
.color-secondary-2 {
  background-color: var(--secondary-2);
}
.color-secondary-3 {
  background-color: var(--secondary-3);
}
.color-secondary-4 {
  background-color: var(--secondary-4);
}

.color-ternary-1 {
  background-color: var(--ternary-1);
}
.color-ternary-2 {
  background-color: var(--ternary-2);
}

.color-grey-1 {
  background-color: var(--grey-1);
}
.color-grey-2 {
  background-color: var(--grey-2);
}
.color-grey-3 {
  background-color: var(--grey-3);
}
.color-grey-4 {
  background-color: var(--grey-4);
}
.color-grey-5 {
  background-color: var(--grey-5);
}

.color-black {
  background-color: var(--black);
}
.color-white {
  background-color: var(--white);
}
