@import "tailwindcss";
@import "../assets/fonts/icons.css";

@theme {
  --font-sans: "Inter", "sans-serif";
  --default-font-family: var(--font-sans);

  --screens-sm: 640px;
  --screens-md: 768px;
  --screens-lg: 1024px;
  --screens-xl: 1366px;

  --color-c-gray: #032d29;
  --color-c-orange: #ff9000;
  --color-c-black: #000000;
  --color-c-white: #ffffff;
  --color-c-blue: #004278;
  --color-c-bg: #eff0eb;

  --text-xs: 0.75rem;
  --text-base: 0.875rem;
  --text-sm: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.5rem;
  --text-2xl: 2.25rem;
}

@layer base {
  h1 {
    font-size: var(--text-2xl);
    line-height: 2.75rem;
    font-weight: bold;
  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
}

.react-datepicker-wrapper {
  width: 100%;
}

@keyframes scale-pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
}

.animate-scale-pulse {
  animation: scale-pulse 1.2s infinite;
}
