@import '../styles/break-points';

.contato-page {

  .flex {
    display: flex;
    flex-direction: column;
    gap: 2em;

    .textos {

      p {
        padding-bottom: 0;
      }

      h5 {
        margin-top: 1.5em;
      }
    }

    .iconetexto {
      display: flex;
      flex-direction: row;
      gap: 0.5em;
      padding: 0.25em 0;
      align-items: center;

      .icon {
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        &.telefone {
          background-image: url(../images/contato/phone.png);
        }
        &.mail {
          background-image: url(../images/contato/mail.png);
        }
        &.whats {
          background-image: url(../images/contato/whats.png);
        }
        &.instagram {
          background-image: url(../images/contato/instagram.png);
        }
        &.facebook {
          background-image: url(../images/contato/facebook.png);
        }
        &.linkedin {
          background-image: url(../images/contato/linkedin.png);
        }
        &.endereco {
          background-image: url(../images/contato/pin.png);
        }
      }
    }

    .card {
      background-color: #fff;
      padding: 1.275em;
      border-radius: 5px;
    }
  }
}

@media (min-width: $md) {
  .contato-page {

    .flex {
      flex-direction: row;

      .textos {
        flex: 1;
      }

      .mapa {
        flex: 1;

        iframe {
          height: 500px;
        }
      }
    }
  }
}
