---
import AtendimentoHumanizado from "../components/AtendimentoHumanizado.astro";
import BannerReserva from "../components/BannerReserva.astro";
import CarrouselCarros from "../components/CarrouselCarros";
import ComoFunciona from "../components/ComoFunciona.astro";
import ContainerPage from "../components/ContainerPage.astro";
import Header from "../components/Header.astro";
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout title="Home" description="Home">
  <Header />
	<ContainerPage>
    <BannerReserva/>
    <div class="xl:mt-20 2xl:mt-36"><ComoFunciona  /></div>
    <div class="mt-28"><CarrouselCarros client:only="react" /></div>
    <div><AtendimentoHumanizado /></div>
  </ContainerPage>
</Layout>
