@import '../styles/break-points';

.index-page {

  .sobre {

    .flex {
      display: flex;
      flex-direction: column;
      gap: 2em;
      align-items: flex-start;

      .text {

        .btn {
          width: 200px;
          display: block;
          margin: 0 auto;
        }
      }

      .image {
        max-width: 470px;
        margin: 0 auto;
      }
    }
  }

  .nossoscarros {
    background-color: var(--grey-5);

    .flex {
      display: flex;
      flex-direction: column;
      gap: 2em;
    }

    .listicons {
      display: flex;
      flex-direction: row;
      gap: 1em;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .item {
        display: flex;
        flex-direction: column;
        width: 45%;
        gap: 0.5em;
        justify-content: center;
        align-items: center;
        background-color: var(--white);
        padding: 1em;
        border-radius: 10px;

        .icon {
          width: 75px;
          height: 75px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          &.carroslimpos {
            background-image: url(../images/home/carros-limpos.svg);
          }
          &.revisao {
            background-image: url(../images/home/revisao-em-dia.svg);
          }
          &.semtaxas {
            background-image: url(../images/home/sem-taxas-ocultas.svg);
          }
          &.alugueis {
            background-image: url(../images/home/alugueis-flexiveis.svg);
          }
        }
      }
    }
  }
}

@media (min-width: $md) {
  .index-page {

    .sobre {

      .flex {
        flex-direction: row;
        gap: 4em;

        .text {
          flex: 1;
        }
      }
    }
  }
}

@media (min-width: $lg) {
  .index-page {

    .nossoscarros {
      background-image: url(../images/home/nossos-carros.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      .flex {
        flex-direction: row;
        gap: 4em;
      }

      .icones {
        flex: 1;
      }

      .text {
        flex: 2;
      }
    }
  }
}
