---
import BannerReserva from "../components/BannerReserva.astro";
import ContainerPage from "../components/ContainerPage.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from '../layouts/Layout.astro';
import { NossosCarrosContent } from "../components/NossosCarros";
import Avaliacoes from "../components/Avaliacoes.astro";
import RodeComCamdal from "../components/RodeComCamdal.astro";
---

<Layout title="Nossos Carros | Camdal – Conheça Nossa Frota de Veículos" description="Confira os carros disponíveis na Camdal. Veículos revisados, modernos e prontos para atender às suas necessidades com conforto, segurança e qualidade.">
  <Header />
	<ContainerPage>
    <BannerReserva type="carros" />
    <div class="xl:mt-20 2xl:mt-36"><NossosCarrosContent client:only="react" /></div>
    <div class="py-16"><Avaliacoes /></div>
    <div class="md:py-16 max-w-6xl m-auto"><RodeComCamdal /></div>
  </ContainerPage>
  <Footer />
</Layout>
