---
import D from "../components/D.astro";
import Header from "../components/Header.astro";
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout title="About" description="About">
  <Header/>
	<div class="h-100 bg-amber-200">aaaaaaa <D>bbbb</D></div>
</Layout>
