---
import RotateLogoBanner from "./RotateLogoBanner.astro";
---

<div class="flex flex-col gap-4 absolute">
  <RotateLogoBanner config="--slideToShow:2; --slideNum:1; --direction:normal" />
  <RotateLogoBanner config="--slideToShow:2; --slideNum:1; --direction:reverse" />
  <RotateLogoBanner config="--slideToShow:2; --slideNum:1; --direction:normal" />
  <RotateLogoBanner config="--slideToShow:2; --slideNum:1; --direction:reverse" />
</div>
