---

import bannerSobre from "../assets/banner-sobre.png";
import bannerContato from "../assets/banner-contato.png";
import bannerSobreMobile from "../assets/banner-sobre-mobile.png";
import bannerContatoMobile from "../assets/banner-contato-mobile.png";

import BannerBgAnimated from "./BannerBgAnimated.astro";

interface Props {
  type: "contato" | "sobre";
}

const { type } = Astro.props as Props;

---

<section>
  <BannerBgAnimated />
  <div class="flex flex-col sm:flex-row relative z-10 pt-20 px-10 sm:px-0 items-center h-[520px] sm:h-[460px] xl:h-[600px]">
    <div class="w-full sm:w-[320px] sm:pl-8 md:w-[400px] lg:w-2/5 flex flex-col order-2 sm:order-1">
      <slot />
    </div>
    <div class="order-1 sm:order-2">
      <img src={type === "contato" ? bannerContato.src : bannerSobre.src } alt="Sobre a Camdal" class="hidden sm:block sm:absolute sm:right-0 sm:top-0 sm:w-[300px] sm:h-[500px] sm:object-cover md:h-[450px] lg:w-[450px] lg:object-none xl:w-auto xl:h-auto" />
      <img src={type === "contato" ? bannerContatoMobile.src : bannerSobreMobile.src } alt="Sobre a Camdal" class="sm:hidden w-full h-auto object-cover mb-10" />
      <div class="hidden sm:block bg-c-orange absolute h-[280px] w-[320px] md:w-[350px] md:h-[300px] lg:w-[30rem] lg:h-[16rem] xl:w-[42rem] xl:h-[20rem] 2xl:h-[24rem] -z-10 right-0 top-[50%] translate-y-[-50%]"></div>
    </div>
  </div>
</section>
