---
interface Props {
  avaliacoes: {
    name: string;
    description: string;
    stars: number;
  }[];
};


const { avaliacoes } = Astro.props;

---

{ avaliacoes.map((avaliacao) => (

  <div class="bg-white p-6 rounded-xl text-left flex flex-col justify-between">
    <div class="flex justify-between items-center pb-3">
      <p class="text-sm text-c-blue font-light mb-2">#CAMDALGOOGLE</p>
      <span class="icon-Quote text-c-orange text-4xl mb-2" />
    </div>
    <p class="mb-6">{avaliacao.description}</p>
    <div class="flex items-center gap-3">
      <div class="w-14 h-14 rounded-full bg-c-blue text-c-white font-bold flex justify-center items-center">
        {String(avaliacao.name).charAt(0).toUpperCase()}
      </div>
      <div>
        <p class="font-semibold text-sm">{avaliacao.name}</p>
        <p class="text-xs text-gray-500">Avaliação Google</p>
        <div class="text-orange-500 mt-1">
          {Array.from({ length: avaliacao.stars }, (_, i) => (
            <span class="material-symbols-outlined text-sm">star_rate</span>
          ))}
        </div>
      </div>
    </div>
  </div>
)) }
