---
const accordionData = [
  {
    title: "Sobre a diária",
    content: "Informações sobre como funcionam as tarifas diárias de aluguel.",
  },
  {
    title: "Reservas de longa duração",
    content: "Detalhes sobre preços e condições para reservas com duração estendida.",
  },
  {
    title: "Entregas de veículos",
    content: "Explicações sobre o processo de entrega e devolução do veículo.",
  },
  {
    title: "Motoristas Adicionais",
    content: "Regras e tarifas para adicionar condutores extras na reserva.",
  },
  {
    title: "Reservas por grupos de veículos",
    content: "Como funcionam as reservas por categoria de carro e disponibilidade.",
  },
];
---

<div class="mx-auto p-10 md:py-18 lg:py-24 md:px-24 lg:px-36 bg-white rounded-xl shadow-md">

  <div id="accordion">
    {accordionData.map((item, index) => (
      <div class={`${ index > 0 ? "border-t" : ""} border-c-gray`} data-index={index}>
        <button
          class="accordion-toggle hover:cursor-pointer w-full flex justify-between items-center py-4 text-left text-gray-800 font-medium focus:outline-none"
        >
          <span id="titulo-pergunta" class="text-lg">{item.title}</span>
          <span class="material-symbols-outlined text-gray-600">add</span>
        </button>
        <div class="accordion-content hidden p-6 text-sm bg-gray-200">
          {item.content}
        </div>
      </div>
    ))}
  </div>
</div>

<script type="module">
  const toggles = document.querySelectorAll(".accordion-toggle");
  toggles.forEach((btn) => {
    btn.addEventListener("click", () => {
      const content = btn.nextElementSibling;
      if (!(content instanceof HTMLElement)) return;
      const icon = btn.querySelector(".material-symbols-outlined");
      const title = btn.querySelector("#titulo-pergunta");

      if (content.classList.contains("hidden")) {
        content.classList.remove("hidden");
        title.classList.add("font-bold");
        if (icon) {
          icon.textContent = "close";
        }
      } else {
        content.classList.add("hidden");
        title.classList.remove("font-bold");
        if (icon) {
          icon.textContent = "add";
        }
      }
    });
  });
</script>
