---
const accordionData = [
  {
    title: "Requisitos para alugar um carro",
    content: `
      Para locar, é necessário que seja maior de 21 anos, com mínimo 02 anos de habilitação;
      Estar com a documentação em dia e possuir Cartão de Crédito para bloqueio da caução, que é, que uma proporção do valor da franquia do veículo.
      Faremos a conferencia na retirada e na devolução do veículo, e no retorno, estando tudo igual na retirada, é feito o estorno do cartão logo após o carro ser limpo e inspecionado.
      Bloqueio será de R$ 1.000,00 para a Caução! Não é permitido passar fronteiras internacionais, com nossos veículos.
    `,
  },
  {
    title: "Sobre a diária",
    content: `A diária do carro é de 24 horas, com até 1 hora de tolerância para devolução. A partir da 25ª hora, incidirá cobrança de diária extra;`,
  },
  {
    title: "Reservas de longa duração",
    content: "Para reservas superiores a 30 dias, o cliente deverá realizar um Contrato Mensal. Caso queira permanecer com o carro alugado, você deverá entrar em contato com a Agencia para confirmar a disponibilidade do veículo locado, confirmar o novo período e assinar o novo contrato.",
  },
  {
    title: "Entregas de veículos",
    content: "Para entrega de veículos em outra cidade, consulte valores;",
  },
  {
    title: "Motoristas Adicionais",
    content: "O cliente pode nomear até 4 (quatro) motoristas adicionais, implicando no pagamento da taxa diária vigente.",
  },
  {
    title: "Reservas por grupos de veículos",
    content: "A locadora não garante a reserva de carro por marca, modelo, cor ou configuração específica. O locatário deve optar por um dos carros disponíveis e pertencentes ao grupo, no dia da abertura do contrato de locação e retirada do carro junto à loja. As características dos carros apresentadas neste website poderão sofrer variações entre os próprios carros do grupo e lojas de atendimento da locadora.",
  },
];
---

<div class="mx-auto p-10 md:py-18 lg:py-24 md:px-24 lg:px-36 bg-white rounded-xl shadow-md">

  <div id="accordion">
    {accordionData.map((item, index) => (
      <div class={`${ index > 0 ? "border-t" : ""} border-c-gray`} data-index={index}>
        <button
          class="accordion-toggle hover:cursor-pointer w-full flex justify-between items-center py-4 text-left text-gray-800 font-medium focus:outline-none"
        >
          <span id="titulo-pergunta" class="text-lg">{item.title}</span>
          <span class="material-symbols-outlined text-gray-600">add</span>
        </button>
        <div class="accordion-content hidden p-6 text-sm bg-gray-200">
          {item.content}
        </div>
      </div>
    ))}
  </div>
</div>

<script type="module">
  const toggles = document.querySelectorAll(".accordion-toggle");
  toggles.forEach((btn) => {
    btn.addEventListener("click", () => {
      const content = btn.nextElementSibling;
      if (!(content instanceof HTMLElement)) return;
      const icon = btn.querySelector(".material-symbols-outlined");
      const title = btn.querySelector("#titulo-pergunta");

      if (content.classList.contains("hidden")) {
        content.classList.remove("hidden");
        title.classList.add("font-bold");
        if (icon) {
          icon.textContent = "close";
        }
      } else {
        content.classList.add("hidden");
        title.classList.remove("font-bold");
        if (icon) {
          icon.textContent = "add";
        }
      }
    });
  });
</script>
