---
import bgLogo from "../assets/bg-logo.png";
import logo from "../assets/logo-white.png";
---

<footer class="bg-c-blue text-c-white w-full md:mt-24">
  <div class="bg-c-white hidden sm:block py-4 px-6 gap-6 -mt-24">
    <div class="max-w-6xl w-full sm:w-2/3 md:w-full grid grid-cols-1 sm:grid-cols-2 gap-8 md:gap-3 md:flex lg:gap-20 xl:gap-40 mx-auto justify-center">
      <div class="flex items-center gap-2">
        <span class="material-symbols-outlined text-c-white bg-c-blue w-16 h-16 rounded-lg !flex justify-center items-center !text-2xl">credit_card</span>
        <p class="text-sm text-c-blue font-medium">Pague em<br><span class="font-bold">até 6x</span></p>
      </div>
      <div class="flex items-center gap-2">
        <span class="material-symbols-outlined text-c-white bg-c-blue w-16 h-16 rounded-lg !flex justify-center items-center !text-2xl">sell</span>
        <p class="text-sm text-c-blue font-medium">Melhor <br><span class="font-bold">preço da região</span></p>
      </div>
      <div class="flex items-center gap-2">
        <span class="material-symbols-outlined text-c-white bg-c-blue w-16 h-16 rounded-lg !flex justify-center items-center !text-2xl">support_agent</span>
        <p class="text-sm text-c-blue font-medium">Atendimento <br><span class="font-bold">humanizado</span></p>
      </div>
      <div class="flex items-center gap-2">
        <span class="material-symbols-outlined text-c-white bg-c-blue w-16 h-16 rounded-lg !flex justify-center items-center !text-2xl">airport_shuttle</span>
        <p class="text-sm text-c-blue font-medium">Serviço de<br><span class="font-bold">Translado</span></p>
      </div>
    </div>
  </div>

  <div class="container mx-auto">
  <!-- Top Icons Row -->

    <!-- Main Footer -->
    <div class="relative px-6 py-8 md:py-16 lg:px-20 bg-c-blue text-c-white overflow-hidden justify-items-center">
      <!-- Background image (right curved shape) -->
      <img src={bgLogo.src} alt="fundo" class="absolute right-0 top-0 h-full object-cover hidden lg:block z-10" />

      <img src={logo.src} alt="Camdal" class="mt-16 mb-20 lg:mb-44" />

      <!-- Footer Content -->
      <div class="z-20 relative">
        <div class="relative grid grid-cols-1 sm:grid-cols-2 md:flex gap-8 sm:gap-4 w-full xl:max-w-4xl">
          <!-- Páginas -->
          <div class="grid grid-cols-2 w-full">
            <div class="text-center sm:text-left">
              <h4 class="text-sm font-bold uppercase mb-4">Páginas</h4>
              <ul class="space-y-2 text-sm font-light">
                <li><a href="/">Home</a></li>
                <li><a href="sobre">Sobre</a></li>
                <li><a href="nossos-carros">Nossos carros</a></li>
                <li><a href="contato">Contato</a></li>
              </ul>
            </div>

            <!-- Legal -->
            <div class="text-center sm:text-left">
              <h4 class="text-sm font-bold uppercase mb-4">Legal</h4>
              <ul class="space-y-2 text-sm font-light">
                <li><a href="termos-de-uso">Termos de uso</a></li>
                <li><a href="politica-de-privacidade">Política de privacidade</a></li>
              </ul>
            </div>
          </div>

          <div class="mx-auto md:mx-0 md:flex-none text-center sm:text-left">
            <!-- Contato Paranavaí -->
            <div class="mb-8 flex flex-col items-center sm:items-start">
              <h4 class="text-sm uppercase mb-2">Contato Paranavaí</h4>
              <a href="tel:4439002425" target="_blank" class="flex items-center gap-2 text-sm mb-2 font-light text-c-white"><span class="material-symbols-outlined text-blue-400 text-base">phone</span>44 3900 2425</a>
              <a href="https://web.whatsapp.com/send?phone=5544999215276" class="flex items-center gap-2 text-sm mb-2 font-light text-c-white"><span class="icon-whatsapp text-xl text-blue-400"></span>44 9 9921 5276</a>
            </div>

            <!-- Contato Cianorte -->
            <div class="mb-8 flex flex-col items-center sm:items-start">
              <h4 class="text-sm uppercase mb-2">Contato Cianorte</h4>
              <a href="#" class="flex items-center gap-2 text-sm mb-2 font-light text-c-white"><span class="material-symbols-outlined text-blue-400 text-base">call</span>44 3039 4721</a>
              <a href="https://web.whatsapp.com/send?phone=5544991038369" target="_blank" class="flex items-center gap-2 text-sm mb-2 font-light text-c-white"><span class="icon-whatsapp text-blue-400 text-xl"></span>44 9 9103 8369</a>
              <p class="flex items-center gap-2 text-sm mt-6 font-light"><span class="material-symbols-outlined text-blue-400 !text-[28px] !p-0">schedule</span><span class="text-white">Todos os dias <br /> 09:00 às 20:00 horas</span></p>
            </div>
          </div>
        </div>

        <div class="w-full">
          <hr class="block w-full md:col-span-3 lg:col-span-5 border-t border-c-white my-8 opacity-15" />

          <!-- Redes sociais -->
          <div class="flex gap-3 mt-4 md:col-span-3 lg:col-span-5 justify-center">
            <a href="https://api.whatsapp.com/send/?phone=554430394721" target="_blank"><span class="icon-whatsapp text-c-white"></span></a>
            <a href="https://www.facebook.com/camdallocadora" target="_blank"><span class="icon-facebook text-c-white"></span></a>
            <a href="https://www.instagram.com/camdallocadora" target="_blank"><span class="icon-instagram text-c-white"></span></a>
          </div>
        </div>

        <!-- Endereço e Descrição -->
        <div class="mt-10 text-center text-xs font-light justify-items-center">
          <p class="mb-2">©2025 Camdal</p>
          <p class="mb-2">Avenida Distrito Federal, Jardim Progresso | 87701-310 | Paranavaí - PR | 44 3900 2425 - 44 99921 5276</p>
          <p>Avenida Goias, 1178, Zona 5 | 87209-006 | Cianorte - PR | 44 3039 4721 - 44 99103 8369</p>
          <div class="flex flex-col sm:flex-row opacity-75 mt-11 max-w-3xl gap-6 text-left">
            <p class="text-gray-200 sm:w-1/2">
              Movida pela fé, guiada pela excelência. Atuamos com aluguel de carros, assinatura e gestão de frotas, oferecendo soluções flexíveis e atendimento personalizado.
            </p>
            <p class="text-gray-200 sm:w-1/2">
              Nossa missão é contribuir para que pessoas e negócios trilhem seus caminhos com confiança e segurança. Cada cliente é único. Cada jornada, uma missão.
            </p>
          </div>
          <p class="mt-24 text-xs text-gray-400">©2025 Camdal. Todos os direitos reservados</p>
        </div>
      </div>
    </div>
  </div>
</footer>
