---
import D from "./D.astro";
import { Maps } from "./Maps";
---

<div class="w-full flex flex-col justify-center gap-8 items-center">
  <h2 class="text-4xl font-bold text-center text-c-gray">
    Localização <D block>estratégica</D>
  </h2>

  <div class="max-w-6xl w-full"><Maps client:only="react" /></div>
</div>
