---
import D from "./D.astro";
import { Maps } from "./Maps";
---

<div class="w-full flex flex-col justify-center gap-8 items-center">
  <h2 class="text-4xl font-bold text-center text-c-gray">
    Localização <D block>estratégica</D>
  </h2>

  <div class="w-6xl"><Maps client:only="react" /></div>

  <p class="font-light text-sm max-w-xl text-center mx-auto">Cianorte encontra-se localizada no Noroeste Paranaense. A Cidade está estrategicamente no centro, a uma distância média de 80 a 90 Km das vizinhas, Maringá, Campo Mourão, Umuarama e Paranavaí.</p>
</div>
