---
interface Props {
  image: string;
  position: 'left' | 'right';
  alt: string;
}

const { image, position, alt } = Astro.props as Props;
---

<section class="flex flex-col md:flex-row gap-8 max-w-6xl mx-auto items-center">
  <img
    src={image}
    alt={alt}
    class=`${position === 'left' ? 'md:order-0' : 'md:order-1'} md:w-1/2`
  />
  <slot class=`${position === 'left' ? 'md:order-1' : 'md:order-0'} md:w-1/2` />
</section>
