@import '../../styles/break-points';

.footer {
  border-top: 1px solid var(--grey-4);
  padding: 2em 0;

  .list {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;

    .listitem {
      display: flex;
      width: 45%;
      flex-direction: column;
      gap: 0.5em;
      text-align: center;
      align-items: center;
    }

    .icon {
      width: 75px;
      height: 75px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      &.card {
        background-image: url(../../images/footer/card.svg);
      }
      &.money {
        background-image: url(../../images/footer/money.svg);
      }
      &.support {
        background-image: url(../../images/footer/support.svg);
      }
      &.car {
        background-image: url(../../images/footer/car.svg);
      }
    }

    .text {
      font-size: 0.9em;
    }
  }

  .bottom {
    background-color: var(--primary-1);
    padding: 1em;
    margin-top: 2em;
  }

  .socialmedialist {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    align-items: center;

    .link {
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      &:hover {
        transform: scale(1.1);
      }
      &.whats {
        width: 24px;
        height: 24px;
        background-image: url(../../images/footer/whats.png);
      }
      &.facebook {
        width: 12px;
        height: 24px;
        background-image: url(../../images/footer/facebook.png);
      }
      &.instagram {
        width: 24px;
        height: 24px;
        background-image: url(../../images/footer/instagram.png);
      }
      &.linkedin {
        width: 24px;
        height: 24px;
        background-image: url(../../images/footer/linkedin.png);
      }
    }
  }

  .address {
    text-align: center;
  }

  .copy {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
    margin-top: 1em;
    text-align: center;
    font-size: 0.8em;
    justify-content: center;

    .text,
    .pipe,
    .link {
      color: var(--white);
    }

    .link {
      text-decoration: underline;
    }
  }
}

.whatsapp-fixed {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  background-image: url(../../images/footer/whats-fixed.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
  border-radius: 50%;
  border: 2px solid var(--primary-1);
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(var(--black-rgb), 0.25);
  }
}

@media (min-width: $md) {
  .footer {

    .list {
      flex-wrap: nowrap;
      gap: 6em;

      .listitem {
        width: auto;
      }
    }
  }

  .whatsapp-fixed {
    bottom: 30px;
    right: 30px;
  }
}
