---
import { ViewTransitions } from 'astro:transitions';
import "../styles/global.css";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport"content="width=device-width, initial-scale=1" />
    <meta name="description" content={description}>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <ViewTransitions />
	</head>
	<body class="bg-c-bg">
		<div class="flex justify-center items-center flex-col"><slot /></div>
	</body>

  <script src="../scripts/handleMenu.ts"></script>
  <script src="../scripts/handleScroll.ts"></script>
  <script src="../scripts/getLinkWhatsapp.ts"></script>
</html>

